<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/syles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/2bde270e59.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body class="home">
    <header>
        <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo">
        <div class="buscador">
            <form action="">
                <input type="text" placeholder="Buscar productos y más">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="site">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="login">
            <ul>
                <li><a href="">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>            
    </header>
    <main>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="banner">
        </section>
        <section>
            <h2>Últimos buscados</h2>
            <article>
                <img class="imagen-producto" src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6770</p>
                    <p class="descuento">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img class="imagen-producto" src="images/img-macbook-pro-2019.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$230000</p>
                    <p class="descuento">20% OFF</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img class="imagen-producto" src="images/img-samsung-galaxy-s10.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$70500</p>
                    <p class="descuento">10% OFF</p>
                    <h3>Samsung Galaxy s10</h3>
                </div>
            </article>
            <article>
                <img class="imagen-producto" src="images/img-tv-samsung-smart.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$23200</p>
                    <p class="descuento">5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img class="imagen-producto" src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6770</p>
                    <p class="descuento">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img class="imagen-producto" src="images/img-macbook-pro-2019.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$230000</p>
                    <p class="descuento">20% OFF</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img class="imagen-producto" src="images/img-samsung-galaxy-s10.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$70500</p>
                    <p class="descuento">10% OFF</p>
                    <h3>Samsung Galaxy s10</h3>
                </div>
            </article>
            <article>
                <img class="imagen-producto" src="images/img-tv-samsung-smart.jpg" alt="cafetera">
                <div class="caja">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <p class="precio">$23200</p>
                    <p class="descuento">5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <div class="iconos"><i class="fas fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </p>
        </article>
        <article>
            <div class="iconos"><i class="fas fa-gift"></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <div class="iconos"><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </p>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
        </article>
    </footer>
    
</body>
</html>